<!-- id, title, content_type -->
<main id="main" class="flexRow vp">
    <% switch(content_type) {

        case 'form': %>
            <%- include('components/forms', { id, title }); %>
            <%- include("components/modal"); %>
        <% break;

        case 'ticket_collectors': %>
            <%- include('components/ticket_collectors', { id, title }); %>
        <% break;

        case 'configurations': %>
            <%- include('components/configurations', { id, title }); %>
        <% break;

        default: %>
            <div class="flexColumn container_404">
                <h1>404 - Not Found</h1>
                <h2>Página no encontrada!!!</h2>
                <a href="/">
                    <%= login ? 'Ir la lista de espera' : 'Iniciar Sesión' %>
                </a>
            </div>
    <% } %>
</main>