<!--
    group_id,
    button_id,
    list_id,
    button:{ content, icon_classes},
    data: { ... }
-->
<div id="<%= group_id %>" class="dropdown flexColumn">
    <button id="<%= button_id %>" class="dropdownSelector flexRow">
        <%= button.content %>
        <i class="<%= button.icon_classes %>"></i>
    </button>
    <ul id="<%= list_id %>" class="dropdownList flexColumn hidden">
        <li><a href="#">ruta 1</a></li>
        <li><a href="#">ruta 2</a></li>
        <li><a href="#">ruta 3</a></li>
        <li><a href="#">ruta 4</a></li>
        <li><a href="#">ruta 5</a></li>
        <li><a href="#">ruta 6</a></li>
    </ul>
</div>

<script>

    document.addEventListener('click', (e) => {
        if(e.target.id === '<%= button_id %>') {
            document.getElementById('<%= list_id %>').classList.toggle('hidden');
        } else if(
            e.target.id !== "<%= list_id %>" &&
            !document.getElementById('<%= list_id %>').classList.contains('hidden')
        ) {
            document.getElementById('<%= list_id %>').classList.add('hidden');
        }
    });
</script>