<!--
    group_id,
    button_id,
    list_id,
    button:{ content, icon_classes},
    data: [{desc, icon, url}, ...]
-->
<div id="<%= group_id %>" class="dropdown flexColumn">
    <%- include('components/button', {
        id: button_id,
        name: button.content,
        type:'',
        icon_classes: button.icon_classes,
        classList:[
            'dropdownSelector',
            'nav_font_color_fontSize'
        ]
    }); %>
    <ul id="<%= list_id %>" class="dropdownList flexColumn hidden">
        <% data.forEach(link => { %>
            <li class="flexColumn">
                <a href="<%= link.url %>" class="flexRow">
                    <p><%= link.desc %></p>
                    <i class="<%= link.icon %>"></i>
                </a>
            </li>
        <% }); %>
    </ul>
</div>

<script type="module">
    import {
        closeDropdowns,
        closeDropdownsExcept
    } from '/js/utils.js';

    ((d) => {
        const btn=d.getElementById('<%= button_id %>');
        const list=d.getElementById('<%= list_id %>');

        btn.addEventListener('click', (e) => {
            e.stopPropagation();
            closeDropdownsExcept(list);
            list.classList.toggle('hidden');
        });

        d.addEventListener('click', closeDropdowns);
    })(document);
</script>