<!--
    group: { id, select },
    label: { id, content },
    options:[{ value, content }, ... ]
-->

<div id="<%= group.id %>" class="selectContainer">
    <select id="<%= group.select %>">
        <option value=""></option>
        <% options.forEach(op => { %>
            <option value="<%= op.value %>"><%= op.content %></option>
        <% }); %>
    </select>
    <label
        for="<%= group.select %>"
        id="<%= label.id %>"
        class="vp hp"
    >
        <%= label.content %>
    </label>
    <i class="fas fa-check hidden"></i>
</div>

<script type="module">
    import { radius } from '/js/utils.js';

    ((d) => {
        const label = d.getElementById('<%= label.id %>');
        const choices = new Choices('#<%= group.select %>', {
            searchEnabled:false,
            itemSelectText: ''
        });
        const choices2=d.querySelector('.choices');
        const choices__inner=d.querySelector('.choices__inner');
        const items=d.querySelectorAll('.choices__item');

        choices2.addEventListener('showDropdown', () => {
            label.classList.add('active');
        });

        choices2.addEventListener('hideDropdown', () => {
            if(!choices.getValue(true)) label.classList.remove('active');
        });

        choices2.addEventListener('change', () => {
            if(!choices.getValue(true)) label.classList.remove('active');
        });
        radius(choices__inner);
        radius(label);

        window.choicesInstances = window.choicesInstances || {};
        window.choicesInstances['<%= group.select %>'] = choices;
    })(document);
</script>