<!--
    option_dropdown_id,
    group_id,
    input_group_id,
    label_id,
    label,
    input: { id, type, req },
    list_id,
    data: [ "...", ... ]
-->

<div id="<%= option_dropdown_id %>" class="dropdown flexColumn">
    <%- include('components/input_group', {
        group_id,
        input_group_id,
        input,
        label_id,
        label
    }); %>

    <%- include('dropdowns/option-list', {
        input_id: input.id,
        list_id,
        data
    }); %>
</div>

<script type="module">
    import {
        closeDropdowns,
        closeDropdownsExcept
    } from '/js/utils.js';

    ((d) => {
        const list=d.getElementById('<%= list_id %>');
        const input=d.getElementById('<%= input.id %>');
        const label=d.getElementById('<%= label_id %>');
        input.readOnly = true;

        d.addEventListener('click', (e) => {
            e.stopPropagation();
            e.preventDefault();
            
            if([label, list, input].includes(e.target)) {
                closeDropdownsExcept(list);
                list.classList.toggle('hidden');
                if(list.classList.contains('hidden')) input.blur();
                else input.focus();
            } else { closeDropdowns();}
        });
        
        input.addEventListener('focus', () => {
            list.classList.remove('hidden');
            const element=input.getBoundingClientRect();

            const spaceAbove=element.top;
            const spaceBelow=window.innerHeight-element.bottom;

            if(spaceBelow < (window.innerHeight/3)) {
                list.style.maxHeight = `${(window.innerHeight/3)-10}px`;
                list.style.bottom = `${element.height+12}px`;
                list.style.top = 'auto';
            } else {
                list.style.maxHeight = `${(window.innerHeight/3)-10}px`;
                list.style.top = `${element.height}px`;
                list.style.bottom = 'auto';
            }
        });

        input.addEventListener('blur', () => list.classList.add('hidden'));
    })(document);
</script>