<!--
    option_dropdown_id,
    group_id,
    label_id,
    label,
    input: { id, type, req },
    list_id,
    data: [ "string", ... ]
-->

<div id="<%= option_dropdown_id %>" class="dropdown flexColumn">
    <%- include('components/input_group', {
        group_id,
        label_id,
        label,
        input
    }); %>

    <%- include('dropdowns/option-list', { list_id, data }); %>
</div>

<script type="module">
    import {
        closeDropdowns,
        closeDropdownsExcept
    } from '/js/utils.js';

    ((d) => {
        const lab=d.getElementById('<%= group_id %>');
        const list=d.getElementById('<%= list_id %>');
        const input=d.getElementById('<%= input.id %>');
        input.readOnly = true;
        
        lab.addEventListener('click', (e) => {
            e.stopPropagation();
            
            closeDropdownsExcept(list);
            list.classList.toggle('hidden');
        });
        d.addEventListener('click', closeDropdowns);
    })(document);
</script>