<!--
    option_dropdown_id,
    group_id,
    input_group_id,
    label_id,
    label,
    input: { id, type, req },
    list_id,
    data: [ "string", ... ]
-->

<div id="<%= option_dropdown_id %>" class="dropdown flexColumn">
    <%- include('components/input_group', {
        group_id,
        input_group_id,
        input,
        label_id,
        label
    }); %>

    <ul id="<%= list_id %>" class="dropdownList flexColumn hidden">
        <% data.forEach(option => { %>
            <li><p><%= option %></p></li>
        <% }); %>
    </ul>
</div>

<script type="module">
    import {
        closeDropdowns,
        closeDropdownsExcept
    } from '/js/utils.js';

    ((d) => {
        const list=d.getElementById('<%= list_id %>');
        const input=d.getElementById('<%= input.id %>');
        const label=d.getElementById('<%= label_id %>');
        input.readOnly = true;

        d.addEventListener('click', (e) => {
            e.stopPropagation();
            e.preventDefault();
            
            if([label, list, input].includes(e.target)) {
                closeDropdownsExcept(list);
                list.classList.toggle('hidden');
                if(list.classList.contains('hidden')) input.blur();
                else input.focus();
            } else { closeDropdowns();}
        });
        
        input.addEventListener('focus', () => list.classList.remove('hidden'));

        input.addEventListener('blur', () => list.classList.add('hidden'));
    })(document);
</script>