<!--
    group: { id, select, req },
    label: { id, content },
    options:[{ value, content }, ... ]
-->

<div id="<%= group.id %>" class="selectContainer flexRow">
    <select
        id="<%= group.select %>"
        name="<%= group.select %>"
        <%= group.req ? 'required' : '' %>
    >
        <option value=""></option>
        <% options.forEach(op => { %>
            <option value="<%= op.value %>"><%= op.content %></option>
        <% }); %>
    </select>
    <label
        for="<%= group.select %>"
        id="<%= label.id %>"
        class="vp hp"
    >
        <%= label.content %>
    </label>
    <i class="fas fa-check hidden"></i>
</div>