<!--
    container_id,
    select_id,
    label_id,
    label,
    options:[{ value, content }, ... ]
-->

<div id="<%= container_id %>" class="selectContainer">
    <select id="<%= select_id %>">
        <% options.forEach(option => { %>
            <option value="<%= option.value %>"><%= option.content %></option>
        <% }); %>
    </select>
    <label for="<%= select_id %>" id="<%= label_id %>" class="vp hp"><%= label %></label>
    <i class="fas fa-check hidden"></i>
</div>

<script type="module">
    import { radius } from '/js/utils.js';

    ((d) => {
        const label = d.getElementById('<%= label_id %>');
        const choices = new Choices('#<%= select_id %>', {
            searchEnabled:false,
            itemSelectText: ''
        });
        const choices2=d.querySelector('.choices');
        const choices__inner=d.querySelector('.choices__inner');
        const items=d.querySelectorAll('.choices__item');

        choices2.addEventListener('showDropdown', () => {
            label.classList.add('active');
        });

        choices2.addEventListener('hideDropdown', () => {
            if(!choices.getValue(true)) label.classList.remove('active');
        });

        choices2.addEventListener('change', () => {
            if(!choices.getValue(true)) label.classList.remove('active');
        });
        radius(choices__inner);
        radius(label);
    })(document);
</script>