<!--
    group: { id, select },
    label: { id, content },
    options:[{ value, content }, ... ]
-->

<div id="<%= group.id %>" class="selectContainer">
    <select
        id="<%= group.select %>"
         name="<%= group.select %>" 
        <%= group.req ? 'required' : '' %>
    >
        <option value=""></option>
        <% options.forEach(op => { %>
            <option value="<%= op.value %>"><%= op.content %></option>
        <% }); %>
    </select>
    <label
        for="<%= group.select %>"
        id="<%= label.id %>"
        class="vp hp"
    >
        <%= label.content %>
    </label>
</div>

<script type="module">
    import { radius } from '/js/utils.js';

    ((d) => {
        const label = d.getElementById('<%= label.id %>');
        const choices = new Choices('#<%= group.select %>', {
            searchEnabled:false,
            itemSelectText: ''
        });
        const choices2=d.querySelector('.choices');
        const choices__inner=d.querySelector('.choices__inner');
        const items=d.querySelectorAll('.choices__item');

        if(!window.selectStates) window.selectStates = {};
        selectStates['<%= group.select %>'] = {
            state: false,
            label: label,
            choices: choices,
            choices__inner: choices__inner
        }

        choices2.addEventListener('showDropdown', () => {
            label.classList.add('active');
        });

        choices2.addEventListener('hideDropdown', () => {
            if(!choices.getValue(true)) label.classList.remove('active');
        });

        choices2.addEventListener('change', () => {
            if(!choices.getValue(true)) {
                label.classList.remove('active', 'correct');
                choices__inner.classList.remove('correct');
                selectStates['<%= group.select %>'].state = false;
            } else {
                label.classList.add('correct');
                choices__inner.classList.add('correct');
                selectStates['<%= group.select %>'].state = true;
            }
        });
        radius(choices__inner);
    })(document);
</script>