<!-- {
    group: { id:'', input:''},
    input: { id:'', type:'', req:},
    label: { id:'', content:''},
    validation: { regex, error_message }
} -->

<input type='hidden' name='token' value='<%= token %>' />

<%- include(`${ejsPath}components/input_group`, {
    group: { id:'pass_group', input:'pass_input'},
    input: { id:'pass', type:'password', req:true},
    label: { id:'pass_label', content:'Contraseña'},
    validation: {
        regex:/^(?=.*\d).{8,}$/i,
        error_message:'Debe tener un mínimo de 8 carácteres y al menos un número.'
    }
}); %>

<%- include(`${ejsPath}components/input_group`, {
    group: { id:'re-pass_group', input:'re-pass_input'},
    input: { id:'re-pass', type:'password', req:true},
    label: { id:'re-pass_label', content:'Re-escriba la Contraseña'},
    validation: {
        regex:/^(?=.*\d).{8,}$/i,
        error_message:'Las contraseñas deben coincidir.'
    }
}); %>

<div id="button_group" class="flexRow vp">
    <%- include(`${ejsPath}components/button`, {
        btn: { id:'reset', type:'reset', classes:''},
        content: { name:'Limpiar Datos', icon:''}
    }); %>

    <%- include(`${ejsPath}components/button`, {
        btn: { id:'confirm', type:'submit', classes:''},
        content: { name:'Confirmar Registro', icon:''}
    }); %>
</div>