    <!--{
        id,
        button: {
            btn: { id, type, classes },
            content: { name, icon },
            min_width
        },
        list: { id, data:[{desc, icon, url}, ...] }
    }-->
    <div id="<%= id %>" class="dropdown flexColumn">
        <%- include(`${ejsPath}components/button`, {
            btn: button.btn,
            content: button.content
        }); %>
        
        <%- include(`${ejsPath}dropdowns/link-list`, { id: list.id, data: list.data }); %>
    </div>

    <script type="module">
        import {
            closeDropdowns,
            closeDropdownsExcept
        } from '/js/utils.js';

        ((d) => {
            const btn=d.getElementById('<%= button.btn.id %>');
            const list=d.getElementById('<%= list.id %>');

            btn.addEventListener('click', (e) => {
                e.stopPropagation();

                // cierra todos los dropdowns excepto el perteneciente a este botón.
                closeDropdownsExcept(list);
                list.classList.toggle('hidden');
            });

            // cierra todos los dropdowns. Sin importar donde se clickee.
            d.addEventListener('click', closeDropdowns);

            // el ancho del dropdown como de sus opciones siempre será el mismo.
            btn.style.minWidth = '<%= button.min_width %>px';
            list.style.minWidth = btn.style.minWidth;
        })(document);
    </script>