<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head", { title }); %>
    </head>
    <body>
        <%- include("partials/header", { nav: typeof nav !== 'undefined' ? nav : '' }); %>
        <main id="main" class="flexRow vp">
            <%- content %>
        </main>
        <%- include("partials/footer"); %>
    </body>
	<script>
		window.__IS_AUTH__ = <%= login %>;
	</script>
</html>