<button
	type="<%= btn.type || 'button' %>"
	id="<%= btn.id %>"
	class="flexRow vp hp <%= btn.classes %>"
>
	<% if(content.name) { %>
		<p><%= content.name %></p>
	<% } %>
	<% if(content.icon) { %>
		<i class="<%= content.icon %>"></i>
	<% } %>
</button>