<!--
	btn: { id, type, classes },
	content: { name, icon}
-->
<button
	type="<%= btn.type || 'button' %>"
	id="<%= btn.id %>"
	class="flexRow vp hp <%= btn.classes %>"
>
	<% if(content.name) { %>
		<p><%= content.name %></p>
	<% } %>
	<% if(content.icon) { %>
		<i class="<%= content.icon %>"></i>
	<% } %>
</button>

<script type="module">
	import { radius } from '/js/utils.js';
	
	((d) => {
		const btn = d.getElementById('<%= btn.id %>');
		radius(btn);
	})(document);
</script>

<!--
    <button><p></p></button> ||
    <button><i></i></button> ||
    <button><p></p><i></i></button>
-->