<button
	type="<%= btn.type || 'button' %>"
	id="<%= btn.id %>"
	class="flexRow <%= btn.classes %>"
>
	<% if(content.name) { %>
		<%- include(`${ejsPath}components/animated_paragraph.ejs`, {
			paragraph: content.name
		}); %>
	<% } %>
	<% if(content.icon) { %>
		<i class="<%= content.icon %>"></i>
	<% } %>
</button>
