<%- include('components/input_group', {
    group_id:'name_group',
    input_group_id:'name_input',
    label_id:'name_label',
    label: 'Nombre/s *',
    input: {
        id:'name',
        type:'text',
        req:true
    }
}); %>

<%- include('components/input_group', {
    group_id:'last_name_group',
    input_group_id:'last_name_input',
    label_id:'last_name_label',
    label: 'Apellido/s *',
    input: {
        id:'last_name',
        type:'text',
        req:true
    }
}); %>

<%- include('components/input_group', {
    group_id:'dni_group',
    input_group_id:'dni_input',
    label_id:'dni_label',
    label: 'DNI N° *',
    input: {
        id:'dni',
        type:'number',
        req:true
    }
}); %>

<%- include('flatpickrs/birthdate', {
    group_id:'birth_group',
    input_group_id:'birth_input',
    label_id:'birth_label',
    label: 'Fecha de nacimiento',
    input: {
        id:'birth',
        type:'text',
        req:false
    }
}); %>

<%- include('components/input_group', {
    group_id:'cel_group',
    input_group_id:'cel_input',
    label_id:'cel_label',
    label: 'Celular',
    input: {
        id:'cel',
        type:'number',
        req:false
    }
}); %>

<%- include('components/input_group', {
    group_id:'mail_group',
    input_group_id:'mail_input',
    label_id:'mail_label',
    label: 'Correo *',
    input: {
        id:'mail',
        type:'email',
        req:true
    }
}); %>

<%- include('dropdowns/option-dropdown', {
    option_dropdown_id: 'area_dropdown',
    group_id: 'area_group',
    input_group_id:'area_input',
    label_id: 'area_label',
    label: 'Área de la Facultad *',
    input: {
        id: 'area',
        type: '',
        req: true
    },
    list_id: 'areas_id',
    data: [
        "Secretaría de Extensión Universitaria",
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Internacional",
        "Secretaría de Asuntos Universitarios",
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Internacional",,
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Internacional",,
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Internacional",
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Internacional",
        "Secretaría de Asuntos Universitarios",
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Internacional",,
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Internacional",,
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Internacional",
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Internacional",
        "Secretaría de Asuntos Universitarios",
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Internacional",,
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Internacional",,
        "Secretaría de Ciencia y Tecnología",
        "Secretaría académica",
        "Secretaría Última",
    ]
}); %>

<div id="button_group" class="flexRow vp">
    <%- include('components/button', {
        id:'reset',
        name:'Limpiar Datos',
        icon_classes: '',
        type:'reset',
        classList:[]}
    ); %>

    <%- include('components/button', {
        id:'check_email',
        name:'Verificar Correo',
        icon_classes: '',
        type:'button',
        classList:[]}
    ); %>
</div>