<%- include('components/input_group', {
    group_id:'name_group',
    input_group_id:'name_input',
    label_id:'name_label',
    label: 'Nombre/s *',
    input: {
        id:'name',
        type:'text',
        req:true
    }
}); %>

<%- include('components/input_group', {
    group_id:'last_name_group',
    input_group_id:'last_name_input',
    label_id:'last_name_label',
    label: 'Apellido/s *',
    input: {
        id:'last_name',
        type:'text',
        req:true
    }
}); %>

<%- include('components/input_group', {
    group_id:'dni_group',
    input_group_id:'dni_input',
    label_id:'dni_label',
    label: 'DNI N° *',
    input: {
        id:'dni',
        type:'number',
        req:true
    }
}); %>

<%- include('flatpickrs/birthdate', {
    group_id:'birth_group',
    input_group_id:'birth_input',
    label_id:'birth_label',
    label: 'Fecha de nacimiento',
    input: {
        id:'birth',
        type:'text',
        req:false
    }
}); %>

<%- include('components/input_group', {
    group_id:'cel_group',
    input_group_id:'cel_input',
    label_id:'cel_label',
    label: 'Celular',
    input: {
        id:'cel',
        type:'number',
        req:false
    }
}); %>

<%- include('components/input_group', {
    group_id:'mail_group',
    input_group_id:'mail_input',
    label_id:'mail_label',
    label: 'Correo *',
    input: {
        id:'mail',
        type:'email',
        req:true
    }
}); %>

<%- include('dropdowns/option-dropdown', {
    container_id: 'dropdown_of_areas',
    select_id: 'area_select',
    label_id: 'label_of_areas',
    label: 'Área de la Facultad *',
    options: [
        { value: "", content: "" },
        { value: "departamento_ingenieria", content: "Departamento de Ingeniería" },
        { value: "departamento_ciencias_sociales", content: "Departamento de Ciencias Sociales" },
        { value: "departamento_economicas", content: "Departamento de Ciencias Económicas" },
        { value: "departamento_ambiental", content: "Departamento de Ingeniería Ambiental" },
        { value: "centro_estudiantes", content: "Centro de Estudiantes" },
        { value: "area_cultura", content: "Área de Cultura y Arte Universitario" },
        { value: "area_comunicacion", content: "Área de Comunicación Institucional" },
        { value: "area_investigacion", content: "Área de Investigación y Desarrollo" },
        { value: "area_vinculacion", content: "Área de Vinculación Tecnológica" },
        { value: "programa_voluntariado", content: "Programa de Voluntariado Universitario" },
        { value: "extension_territorial", content: "Área de Extensión Territorial" },
        { value: "oficina_graduados", content: "Oficina de Graduados" },
        { value: "secretaria_academica", content: "Secretaría Académica" },
        { value: "secretaria_bienestar", content: "Secretaría de Bienestar Universitario" },
        { value: "area_emprendedores", content: "Área de Innovación y Emprendedores" }
    ]
}); %>

<div id="button_group" class="flexRow vp">
    <%- include('components/button', {
        id:'reset',
        name:'Limpiar Datos',
        icon_classes: '',
        type:'reset',
        classList:[]}
    ); %>

    <%- include('components/button', {
        id:'check_email',
        name:'Verificar Correo',
        icon_classes: '',
        type:'button',
        classList:[]}
    ); %>
</div>