<!-- id -->
<div id="collector_list" class="vp">
    <%- include('tickets/ticket', { id:'one'}); %>
    <%- include('tickets/ticket', { id:'two'}); %>
    <%- include('tickets/ticket', { id:'three'}); %>
    <%- include('tickets/ticket', { id:'four'}); %>
    <%- include('tickets/ticket', { id:'five'}); %>
    <%- include('tickets/ticket', { id:'six'}); %>
    <%- include('tickets/ticket', { id:'seven'}); %>
    <%- include('tickets/ticket', { id:'eight'}); %>
    <%- include('tickets/ticket', { id:'nine'}); %>
    <%- include('tickets/ticket', { id:'ten'}); %>
    <%- include('tickets/ticket', { id:'eleven'}); %>
    <%- include('tickets/ticket', { id:'twelve'}); %>
    <%- include('tickets/ticket', { id:'thirteen'}); %>
    <%- include('tickets/ticket', { id:'fourteen'}); %>
    <%- include('tickets/ticket', { id:'fifteen'}); %>
    <%- include('tickets/ticket', { id:'sixteen'}); %>
    <%- include('tickets/ticket', { id:'seventeen'}); %>
    <%- include('tickets/ticket', { id:'eighteen'}); %>
    <%- include('tickets/ticket', { id:'nineteen'}); %>
    <%- include('tickets/ticket', { id:'twenty'}); %>
    <%- include('tickets/ticket', { id:'twenty-one'}); %>
    <%- include('tickets/ticket', { id:'twenty-two'}); %>
    <%- include('tickets/ticket', { id:'twenty-three'}); %>
    <%- include('tickets/ticket', { id:'twenty-four'}); %>
    <%- include('tickets/ticket', { id:'twenty-five'}); %>
    <%- include('tickets/ticket', { id:'twenty-six'}); %>
    <%- include('tickets/ticket', { id:'twenty-seven'}); %>
</div>