<!-- id, name, icon_classes, type, classList -->

<button
	type="<%= type || button %>"
	id="<%= id %>"
	class="flexRow vp hp"
>
	<% if(name) { %>
		<p><%= name %></p>
	<% } %>
	<% if(icon_classes) { %>
		<i class="<%= icon_classes %>"></i>
	<% } %>
</button>

<script type="module">
	import { radius } from '/js/utils.js';
	
	((d) => {
		const classes = <%- JSON.stringify(classList); %>;
		const btn = d.getElementById('<%= id %>');
		
		btn.classList.add(...classes);
		radius(btn);
	})(document);
</script>

<!--
    <button><p></p></button> ||
    <button><i></i></button> ||
    <button><p></p><i></i></button>
-->