<!--
    group: { id, input },
    input: { id, type, req, min, max },
    label: { id, content },
    validation: { regex, error_message }
-->

<div id="<%= group.id %>" class="input_group flexColumn vp">
    <div id="<%= group.input %>" class="in flexRow">
        <input
            type="<%= input.type %>"
            id="<%= input.id %>"
            placeholder=" "
            class=""
            <%= input.req ? 'required' : '' %>
        />
        <label
            for="<%= input.id %>"
            id="<%= label.id %>"
            class="vp hp"
        >
            <%= label.content %>
        </label>
        <i class="fas hidden"></i>
    </div>
    <p class="hidden hp vp"><%= validation.error_message %></p>
</div>

<script type="module">
    import { radius } from '/js/utils.js';

    ((d) => {
        const group=d.getElementById('<%= group.id %>');
        const input=group.querySelector('#<%= input.id %>');
        const label=group.querySelector('#<%= label.id %>');
        const icon=group.querySelector('i');
        const p=group.querySelector('p');
        if(!window.inputStates) window.inputStates = {};
        inputStates[input.id] = {
            state: false,
            label: label,
            input: input,
            icon: icon,
            p: p
        }

        input.addEventListener('input', () => {
            if(input.value==='') {
                label.classList.remove('correct', 'error');
                input.classList.remove('correct', 'error');
                icon.classList.add('hidden');
                p.classList.add('hidden');
                inputStates[input.id].state = false;
                return;
            }

            if(<%= validation.regex %>.test(input.value)) {
                label.classList.remove('error');
                label.classList.add('correct');
                input.classList.remove('error');
                input.classList.add('correct');
                icon.classList.remove('hidden', 'fa-times');
                icon.classList.add('fa-check');
                p.classList.add('hidden');
                inputStates[input.id].state = true;
            } else {
                label.classList.remove('correct');
                label.classList.add('error');
                input.classList.remove('correct');
                input.classList.add('error');
                icon.classList.remove('hidden', 'fa-check');
                icon.classList.add('fa-times');
                p.classList.remove('hidden');
                inputStates[input.id].state = false;
            }
        });

        d.addEventListener('DOMContentLoaded', () => {
            radius(input);
            radius(label);
        });
    })(document);
</script>