<!--
    group: { id, input },
    input: { id, type, req, min, max },
    label: { id, content },
    validation: { regex, error_message }
-->

<div id="<%= group.id %>" class="input_group flexColumn vp">
    <div id="<%= group.input %>" class="in flexRow">
        <input
            type="<%= input.type %>"
            id="<%= input.id %>"
            name="<%= input.id %>"
            placeholder=" "
            class=""
            <%= input.req ? 'required' : '' %>
        />
        <label
            for="<%= input.id %>"
            id="<%= label.id %>"
            class="vp hp"
        >
            <%= label.content %>
        </label>
        <i class="fas hidden"></i>
    </div>
    <p class="message hidden hp vp"><%= validation.error_message %></p>
    <p class="regex hidden"><%= validation.regex %></p>
</div>