<!--
    group: { id, input },
    input: { id, type, req },
    label: { id, content }
-->

<div id="<%= group.id %>" class="input_group flexColumn vp">
    <div id="<%= group.input %>" class="in flexRow">
        <input
            type="<%= input.type %>"
            id="<%= input.id %>"
            placeholder=" "
            <%= input.req ? 'required' : '' %>
        />
        <label
            for="<%= input.id %>"
            id="<%= label.id %>"
            class="vp hp"
        >
            <%= label.content %>
        </label>
        <i class="fas fa-check hidden"></i>
    </div>
    <p class="hidden hp vp">Mensaje de error</p>
</div>

<script type="module">
    import { radius } from '/js/utils.js';

    ((d) => {
        d.addEventListener('DOMContentLoaded', () => {
            radius(d.getElementById('<%= input.id %>'));
            radius(d.getElementById('<%= label.id %>'));
        });
    })(document);
</script>